[submodule "jquery-ui"]
	path = jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "yii"]
	path = yii
	url = git://github.com/yiisoft/yii.git
[submodule "bank"]
	path = bank
	url = https://github.com/futurable/bank.git
[submodule "swiftmailer"]
	path = swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
